
@model IEnumerable<ListPlanner.Models.ToDoList>
@{
    ViewData["Title"] = "Index";
}
<h2>Your List(s)</h2>
@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <p><h1> Your Lists</h1> </p>
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Parent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th></th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Parent)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ToDoListID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ToDoListID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ToDoListID">Delete</a>
                </td>
            </tr>
        }
    </table>*@

@*__________________________________________________________________________________________________________

    Your page*@



<table class="table table-hover">
    <thead>
        <tr>
            <th colspan="2"><h3>List</h3></th>
            <th><h4>Items on list</h4></th>
            <th><h4>All done?</h4></th>
            <th></th>
        </tr>
    </thead>
    <tbody data-bind="foreach: toDoLists">

        <tr data-toggle="modal" data-target="#currentList" id="setSuccess" data-bind="click: $parent.selectList.bind($data), css: cssStatusClass">
            <td colspan="2"><h4><text data-bind="text: name" /></h4></td>
            <td><h4><text data-bind="text: itemCount"/></h4></td>
            <td><h4><text data-bind="text: allDoneText()" /></h4></td>
            <td><button class="close" style="zoom:2.0; color:red" data-bind="click: $root.removeToDoList">&times;</button></td>
        </tr>

    </tbody>

</table>
<br />
<div class="col-lg-offset-9"><h4>You have <span data-bind="text: toDoLists().length"></span> lists</h4></div>

@*--------------------------------button to tricker modal------------------------------------*@
<button type="button" class="btn btn-primary btn-md" data-toggle="modal" data-target="#myModal">
   New list
</button>
<button type="button" class="btn btn-primary btn-md" data-bind="click:reload">
    Reload
</button>

@*-------------------------------------modal-------------------------------------------------------*@
<br />


<hr />

<!-- ko if: selectedList() -->
@*from before
    <div id="currentList" data-bind="visible:selectedList()">*@

<div class="modal fade" id="currentList" tabindex="-1" role="dialog" data-bind="visible:selectedList()">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h2 class="modal-title"><text data-bind="text: selectedList().name" /></h2>
            </div>
            <div class="modal-body">

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th> Name</th>
                            <th>Done</th>

                        </tr>
                    </thead>
                    <tbody data-bind="foreach: selectedList().items()">
                        <tr>
                            <td><h3><text data-bind="text: itemName" /></h3></td>
                            <td><input type="checkbox" style="zoom:2.0" data-bind="checked: isDone" /></td>
                            <td>
                                <button type="button" class="close" style="zoom:2.0; color:red" data-bind="click: $root.removeItemFromSelectedList">&times;</button>
                            </td>
                        </tr>
                    </tbody>
                </table>

            </div>
            <br /><br />

            <center><h4>You have done (<span data-bind="text: totalDone"></span> / <span data-bind="text: selectedList().items().length"></span>)</h4></center>


            <
            <div class="modal-footer">
                <table>
                    <tr>
                        <td><input class="form-control" type="text" data-bind="value: newItemOnSelected().itemName" placeholder="insert item name" /></td>
                    <td><h1>&nbsp;</h1></td>
                        <td><button type="button" class="btn btn-primary" data-bind="click: addItemToSelectedList">Add an item</button></td>
                    </tr></table>
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                @*<button type="button" class="btn btn-primary" data-bind="click: $parent. updateList">Save changes</button>*@
            </div>
            <br />

        </div>
    </div>
</div>
<!-- /ko -->
@*-------------------------------------modal-------------------------------------------------------*@



<div class="modal fade" id="myModal" tabindex="-1" role="dialog" data-bind="with: newToDoList">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">New List</h4>
            </div>
            <div class="modal-body">

                <input input class="form-control input-lg" type="text" data-bind="value: $parent.newToDoList().name, valueUpdate:'keyup'" placeholder="List name" />
                <div class="col-lg-offset-9"><h4>Items on list (<span data-bind="text: items().length"></span>)</h4></div>

                <table class="table">
                    <tr>
                        <th> Name</th>
                        <th>is Done</th>
                        <th></th>
                    </tr>
                    <tbody data-bind="foreach: items">
                        <tr>
                            <td><h4><text data-bind="text: itemName" /></h4></td>
                            <td><input type="checkbox" style="zoom:1.5" data-bind="checked: isDone" /> </td>
                            <td><button class="close" style="zoom:2.0; color:red" data-bind="click: $parent.removeItem">&times;</button></td>
                        </tr>
                    </tbody>



                </table>

                <br />
                <table>
                    <tr>
                        <td><input class="form-control" type="text" data-bind="value: newItem().itemName" placeholder="insert item name" /></td>
                        <td><button type="button" class="btn btn-primary btn-sm" data-bind="click: addItem">Add an item</button></td>
                    </tr>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-bind="click: $parent.addToDoList">Save changes</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->



@section footer {
<hr />
<pre data-bind="text: ko.toJSON($root, null, 2)"></pre>

}

@*______________________________________________Script section_____________________________________________*@

@section scripts {

<script src="~/js/listitems.js"></script>
<script src="~/js/todolists.js"></script>
<script src="~/js/viewmodels/todolist.index.js"></script>

    @*<script type="text/javascript">
    </script>*@
}
